.card {
    border-radius: 10px;
    overflow: hidden;
}

.card-img-top {
    object-fit: cover;
    height: 225px;
}

.card-body {
    padding: 1.5rem;
}

.btn-group .btn {
    margin-right: 10px;
}

.album {
    padding: 4rem 0;
}

.bg-body-tertiary {
    background-color: #f8f9fa;
}
